<div class="content">
    <div class="banner">
        <div class="container">
            <h1 class="page-title">Account Details</h1>
        </div>
        
    </div>
    <div class="container">
        <div class="row">
            <div *ngIf="admin" class="col-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2">
                <div class="card">
                    <div class="card-header">
                        <img src="{{userImageUrl+admin.image}}" class="profile-picture" alt="">
                        <p class="text-center"><a class="form-link-edit" (click)="open(photoUpdateContent,'sm')"><i class="fa fa-camera fa-lg"></i></a></p>
                    </div>
                    <div class="card-body">
                        <h1 class="text-center">{{admin.firstName | uppercase}} {{admin.lastName | uppercase}} <span class="edit">(<a class="form-link-edit" (click)="open(nameUpdateContent,'md')">edit</a>)</span></h1>
                        <h2 class="text-center text-muted">{{admin.email}} <span class="edit">(<a class="form-link-edit" (click)="open(emailUpdateContent,'sm')">edit</a>)</span></h2>
                        <br>
                        <p class="text-right"><a class="form-link-edit" (click)="open(changePasswordContent,'sm')">Change Password</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<ng-template #photoUpdateContent let-modal>
    <div class="modal-header">
      <h4 class="modal-title modal-header-font" id="modal-basic-title">Change Profile Picture</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form novalidate [formGroup]="changePhotoForm" (ngSubmit)="onChangePhotoSubmit(); modal.dismiss()">
        <div class="form-group">
          <label for="image" [ngStyle]="{'color':changePhotoFormErrors.image !== '' ? 'red !important': '' }" class="form-label">Image</label>
          <input type="file" [ngStyle]="{'border-color':changePhotoFormErrors.image !== '' ? 'red': '' }" placeholder="Image" (change)="selectImage($event)" class="form-control" formControlName="image" accept="image/*" required>
          <p class="form-error" *ngIf="changePhotoFormErrors.image">{{changePhotoFormErrors.image}}</p>
        </div>
        <button type="submit" mat-button class="login-btn btn-block btn-lg" [disabled]="changePhotoForm.invalid">Update Profile Picture</button>
      </form>
        
      
    </div>
  </ng-template>

  <ng-template #nameUpdateContent let-modal>
    <div class="modal-header">
      <h4 class="modal-title modal-header-font" id="modal-basic-title">Change Name</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form novalidate [formGroup]="changeNameForm" (ngSubmit)="onChangenameSubmit(); modal.dismiss()">
        <div class="row">
            <div class="col-12 col-md-6">
                <div class="form-group">
                    <label for="firstName"[ngStyle]="{'color':changeNameFormErrors.firstName !== '' ? 'red !important': '' }" class="form-label">First Name</label>
                    <input type="text"[ngStyle]="{'border-color':changeNameFormErrors.firstName !== '' ? 'red': '' }" placeholder="First Name" class="form-control" formControlName="firstName" required>
                    <p class="form-error" *ngIf="changeNameFormErrors.firstName">{{changeNameFormErrors.firstName}}</p>
                </div>
            </div>
            <div class="col-12 col-md-6">
                <div class="form-group">
                    <label for="lastName"[ngStyle]="{'color':changeNameFormErrors.lastName !== '' ? 'red !important': '' }" class="form-label">Last Name</label>
                    <input type="text"[ngStyle]="{'border-color':changeNameFormErrors.lastName !== '' ? 'red': '' }" placeholder="Last Name" class="form-control" formControlName="lastName" required>
                    <p class="form-error" *ngIf="changeNameFormErrors.lastName">{{changeNameFormErrors.lastName}}</p>
                </div>
            </div>

        </div>
        
        <button type="submit" mat-button class="login-btn btn-block btn-lg" [disabled]="changeNameForm.invalid">Update Name</button>
      </form>
        
      
    </div>
  </ng-template>

  <ng-template #emailUpdateContent let-modal>
    <div class="modal-header">
      <h4 class="modal-title modal-header-font" id="modal-basic-title">Change Email</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form novalidate [formGroup]="changeEmailForm" (ngSubmit)="onChangeEmailSubmit(); modal.dismiss()">
        <div class="form-group">
            <label for="email"[ngStyle]="{'color':changeEmailFormErrors.email !== '' ? 'red !important': '' }" class="form-label">Email Address</label>
            <input type="email"[ngStyle]="{'border-color':changeEmailFormErrors.email !== '' ? 'red': '' }" placeholder="Email Address" class="form-control" formControlName="email" required>
            <p class="form-error" *ngIf="changeEmailFormErrors.email">{{changeEmailFormErrors.email}}</p>
        </div>
        <button type="submit" mat-button class="login-btn btn-block btn-lg" [disabled]="changeEmailForm.invalid">Update Email</button>
      </form>
        
      
    </div>
  </ng-template>

  <ng-template #changePasswordContent let-modal>
    <div class="modal-header">
      <h4 class="modal-title modal-header-font" id="modal-basic-title">Change Password</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form novalidate [formGroup]="changePasswordForm" (ngSubmit)="onChangePasswordSubmit(changePasswordContent, 'sm'); modal.dismiss()">
        <div class="form-group">
            <label for="currentPassword"[ngStyle]="{'color':changePasswordFormErrors.currentPassword !== '' ? 'red !important': '' }" class="form-label">Current Password</label>
            <input type="password"[ngStyle]="{'border-color':changePasswordFormErrors.currentPassword !== '' ? 'red': '' }" placeholder="Current Password" class="form-control" formControlName="currentPassword" required>
            <p class="form-error" *ngIf="changePasswordFormErrors.currentPassword">{{changePasswordFormErrors.currentPassword}}</p>
        </div>
        <div class="form-group">
          <label for="newPassword"[ngStyle]="{'color':changePasswordFormErrors.newPassword !== '' ? 'red !important': '' }" class="form-label">New Password</label>
          <input type="password"[ngStyle]="{'border-color':changePasswordFormErrors.newPassword !== '' ? 'red': '' }" placeholder="New Passwords" class="form-control" formControlName="newPassword" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[$@#!%*?&]).{6,20}" required>
          <p class="form-error" *ngIf="changePasswordFormErrors.newPassword">{{changePasswordFormErrors.newPassword}}</p>
      </div>
      <div class="form-group">
        <label for="newRePassword"[ngStyle]="{'color':changePasswordFormErrors.newRePassword !== '' ? 'red !important': '' }" class="form-label">New Re-Password</label>
        <input type="password"[ngStyle]="{'border-color':changePasswordFormErrors.newRePassword !== '' ? 'red': '' }" placeholder="New Re-Password" class="form-control" formControlName="newRePassword" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[$@#!%*?&]).{6,20}" required>
        <p class="form-error" *ngIf="changePasswordFormErrors.newRePassword">{{changePasswordFormErrors.newRePassword}}</p>
    </div>
        <button type="submit" mat-button class="login-btn btn-block btn-lg" [disabled]="changePasswordForm.invalid">Change Password</button>
      </form>
        
      
    </div>
  </ng-template>
