<div class="content">
    <div class="banner">
        <div class="container">
            <h1 class="page-title">Users</h1>
        </div>
        
    </div>
    <div class="container">
      <table *ngIf="users" class="table table-striped">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Image</th>
            <th scope="col">First name</th>
            <th scope="col">Last name</th>
            <th scope="cool">Email</th>
            <th scope="col">No. Orders</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of users; index as i">
            <th scope="row">{{i+1}}</th>
            <td><img src="{{userImageUrl+user.image}}" class="profile-picture" alt=""></td>
            <td>{{user.firstName}}</td>
            <td>{{user.lastName}}</td>
            <td>{{user.email}}</td>
            <td>{{user.orders.length}}</td>
            <td><a [routerLink]="['/user', user._id]">View User</a></td>
          </tr>
          
        </tbody>
      </table>
    </div>
</div>