<div class="content">
    <div class="banner">
        <div class="container">
            <h1 class="page-title">Products</h1>
        </div>
        
    </div>
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-4">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Top Product</h4>
                    </div>
                    <div class="card-body">
                        <img src="" alt="">
                    </div>

                </div>
            </div>
            <div class="coll-12 col-lg-8">
                <div id="products" style="height: 370px; width: 100%;"></div>
            </div>
        </div>
        <br>
        <br>
        <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">First</th>
                <th scope="col">Last</th>
                <th scope="col">Handle</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
              </tr>
              <tr>
                <th scope="row">2</th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>@fat</td>
              </tr>
              <tr>
                <th scope="row">3</th>
                <td>Larry</td>
                <td>the Bird</td>
                <td>@twitter</td>
              </tr>
            </tbody>
          </table>
    </div>
</div>

