<div class="content">
    <div class="banner">
        <div class="container">
            <h1 class="page-title">Products</h1>
        </div>
        
    </div>
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-4">
                <div *ngIf="topProduct" class="card">
                    <div class="card-header">
                        <h4 class="card-title">Top Product</h4>
                    </div>
                    <div class="card-body">
                      <img class="top-product-image" src="{{productImageUrl+topProduct.image}}" alt="">
                      <h3 class="card-title">{{topProduct.brand}} {{topProduct.name}}</h3>
                      <h4>{{topProduct.sales}}</h4>
                    </div>

                </div>
            </div>
            <div class="coll-12 col-lg-8">
                <div id="products" style="height: 370px; width: 100%;"></div>
            </div>
        </div>
        <br> 
        <br>
        <button class="btn" (click)="open(productContent,'md')">New Product</button>
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Image</th>
              <th scope="col">Brand</th>
              <th scope="col">Name</th>
              <th scope="cool">No. Sales</th>
              <th scope="col"></th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let product of products; index as i">
              <th scope="row">{{i+1}}</th>
              <td><img src="{{productImageUrl+product.image}}" class="product-image" alt=""></td>
              <td>{{product.brand}}</td>
              <td>{{product.name}}</td>
              <td>{{product.sales}}</td>
              <td><a [routerLink]="['/product', product._id]">View/Update Product</a></td>
              <td><a class="form-link" (click)="deleteProduct(product._id)"><i class="fa fa-trash"> Remove</i></a></td>
            </tr>
            
          </tbody>
        </table>
    </div>
</div>

<ng-template #productContent let-modal>
  <div class="modal-header">
    <h4 class="modal-title modal-header-font" id="modal-basic-title">New Product</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form novalidate [formGroup]="productForm" (ngSubmit)="onProductSubmit(); modal.dismiss()">
      
      <div class="form-group">
        <label for="name"[ngStyle]="{'color':productFormErrors.name !== '' ? 'red !important': '' }" class="form-label">Product Name</label>
        <input type="text"[ngStyle]="{'border-color':productFormErrors.name !== '' ? 'red': '' }" placeholder="Product Name" class="form-control" formControlName="name" required>
        <p class="form-error" *ngIf="productFormErrors.name">{{productFormErrors.name}}</p>
      </div>
      <div class="form-group">
        <label for="brand"[ngStyle]="{'color':productFormErrors.brand !== '' ? 'red !important': '' }" class="form-label">Product Brand</label>
        <input type="text"[ngStyle]="{'border-color':productFormErrors.brand !== '' ? 'red': '' }" placeholder="Product Brand" class="form-control" formControlName="brand" required>
        <p class="form-error" *ngIf="productFormErrors.brand">{{productFormErrors.brand}}</p>
      </div>
      <div class="form-group">
        <label for="image" [ngStyle]="{'color':productFormErrors.image !== '' ? 'red !important': '' }" class="form-label">Image</label>
        <input type="file" [ngStyle]="{'border-color':productFormErrors.image !== '' ? 'red': '' }" placeholder="Image" (change)="selectImage($event)" class="form-control" formControlName="image" accept="image/*" required>
        <p class="form-error" *ngIf="productFormErrors.image">{{productFormErrors.image}}</p>
      </div>
     
      <button type="submit" mat-button class="login-btn btn-block btn-lg" [disabled]="productForm.invalid">Add Product</button>
    </form>
      
    
  </div>
</ng-template>

