<div class="content">
    <div class="banner">
        <div class="container">
            <h1 class="page-title">Category</h1>
        </div>
        
    </div>
    <div class="container">
        <div *ngIf="category" class="row">
            <div class="col-12 col-md-6">
              <div class="card">
                <div class="card-header">
                  <p class="text-center"><Strong class="topic">{{category.name}}</Strong> <span class="edit"> (<a class="form-link-edit" (click)="open(nameUpdateContent,'sm')">Edit</a>)</span></p>
                  <br>
                  <p><strong>Top Category: {{category.topCategory}}</strong><span class="edit"> (<a class="form-link-edit" (click)="changeTopCatgeory(category.topCategory)">Change</a>)</span></p>
                  
                </div>
                <div class="card-body">
                  <img class="category-image" src="{{categoryImageUrl+category.image}}" alt="">
                  <p class="text-right"><span class="edit"> <a class="form-link-edit" (click)="open(photoUpdateContent,'sm')"><i class="fa fa-camera fa-lg"></i></a></span></p>
                </div>
                
              </div>
                
            </div>
            <div class="col-12 col-md-6">
              
            </div>
        </div>
        <h2>Sub Categories</h2>
        <button class="btn" (click)="open(categoryContent,'md')">New SubCategory</button>
        <div  style="overflow-x:auto;">
            <table *ngIf="category && category.subCategories.length>0" class="table table-striped">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Category Id</th>
                    <th scope="col">Image</th>
                    <th scope="col">Name</th>
                    <th scope="col">Top Category</th>
                    <th scope="cool">No. Sales</th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let cat of category.subCategories; index as i">
                    <th scope="row">{{i+1}}</th>
                    <td>{{cat._id}}  <i class="fa fa-clipboard copy-icon" (click)="copyToClipboard(cat._id)"></i> </td>
                    <td><img src="{{categoryImageUrl+cat.image}}" class="cat-image" alt=""></td>
                    <td>{{cat.name}}</td>
                    <td>{{cat.topCategory}}</td>
                    <td>{{cat.sales}}</td>
                    <td><a [routerLink]="['/category', cat._id]">View/Update Catgory</a></td>
                    <td><a class="form-link" (click)="deleteSubCategory(cat._id)"><i class="fa fa-trash"> Remove</i></a></td>
                    </tr>
                    
                </tbody>
            </table>
        </div>
        <br>
        <br>
        <h2>Products</h2>
        <button class="btn" (click)="open(productContent,'md')">New Product</button>
        <div  style="overflow-x:auto;">
            <table *ngIf="category && category.products.length>0" class="table table-striped">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Product Id</th>
                    <th scope="col">Image</th>
                    <th scope="col">Brand</th>
                    <th scope="col">Name</th>
                    <th scope="cool">No. Sales</th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let product of category.products; index as i">
                    <th scope="row">{{i+1}}</th>
                    <td>{{product._id}} <i class="fa fa-clipboard copy-icon" (click)="copyToClipboard(product._id)"></i> </td>
                    <td><img src="{{productImageUrl+product.image}}" class="cat-image" alt=""></td>
                    <td>{{product.brand}}</td>
                    <td>{{product.name}}</td>
                    <td>{{product.sales}}</td>
                    <td><a [routerLink]="['/product', product._id]">View/Update Product</a></td>
                    <td><a class="form-link" (click)="deleteProduct(product._id)"><i class="fa fa-trash"> Remove</i></a></td>
                    </tr>
                    
                </tbody>
            </table>
        </div>
    </div>
</div>

<ng-template #categoryContent let-modal>
    <div class="modal-header">
      <h4 class="modal-title modal-header-font" id="modal-basic-title">New Category</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form novalidate [formGroup]="categoryForm" (ngSubmit)="onCategorySubmit(); modal.dismiss()">
        <div class="form-group">
          <label for="id"[ngStyle]="{'color':categoryFormErrors.categoryId !== '' ? 'red !important': '' }" class="form-label">Category ID</label>
          <input type="text"[ngStyle]="{'border-color':categoryFormErrors.categoryId !== '' ? 'red': '' }" placeholder="Category ID" class="form-control" formControlName="categoryId" required>
          <p class="form-error" *ngIf="categoryFormErrors.categoryId">{{categoryFormErrors.categoryId}}</p>
        </div>
        <button type="submit" mat-button class="login-btn btn-block btn-lg" [disabled]="categoryForm.invalid">Add Category</button>
      </form>
        
      
    </div>
  </ng-template>

  <ng-template #productContent let-modal>
    <div class="modal-header">
      <h4 class="modal-title modal-header-font" id="modal-basic-title">Add Product</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form novalidate [formGroup]="productForm" (ngSubmit)="onProductSubmit(); modal.dismiss()">
        <div class="form-group">
          <label for="id"[ngStyle]="{'color':productFormErrors.productId !== '' ? 'red !important': '' }" class="form-label">Product ID</label>
          <input type="text"[ngStyle]="{'border-color':productFormErrors.productId !== '' ? 'red': '' }" placeholder="Product ID" class="form-control" formControlName="productId" required>
          <p class="form-error" *ngIf="productFormErrors.productId">{{productFormErrors.productId}}</p>
        </div>
        <button type="submit" mat-button class="login-btn btn-block btn-lg" [disabled]="productForm.invalid">Add Product</button>
      </form>
        
      
    </div>
  </ng-template>

  <ng-template #nameUpdateContent let-modal>
    <div class="modal-header">
      <h4 class="modal-title modal-header-font" id="modal-basic-title">Change Category Name</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form novalidate [formGroup]="changeNameForm" (ngSubmit)="onChangenameSubmit(); modal.dismiss()">
        <div class="form-group">
          <label for="name"[ngStyle]="{'color':changeNameFormErrors.name !== '' ? 'red !important': '' }" class="form-label">Category Name</label>
          <input type="text"[ngStyle]="{'border-color':changeNameFormErrors.name !== '' ? 'red': '' }" placeholder="Category Name" class="form-control" formControlName="name" required>
          <p class="form-error" *ngIf="changeNameFormErrors.name">{{changeNameFormErrors.name}}</p>
        </div>
        <button type="submit" mat-button class="login-btn btn-block btn-lg" [disabled]="changeNameForm.invalid">Update Category Name</button>
      </form>
        
      
    </div>
  </ng-template>
  <ng-template #photoUpdateContent let-modal>
    <div class="modal-header">
      <h4 class="modal-title modal-header-font" id="modal-basic-title">Change Category Photo</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form novalidate [formGroup]="changePhotoForm" (ngSubmit)="onChangePhotoSubmit(); modal.dismiss()">
        <div class="form-group">
          <label for="image" [ngStyle]="{'color':changePhotoFormErrors.image !== '' ? 'red !important': '' }" class="form-label">Image</label>
          <input type="file" [ngStyle]="{'border-color':changePhotoFormErrors.image !== '' ? 'red': '' }" placeholder="Image" (change)="selectImage($event)" class="form-control" formControlName="image" accept="image/*" required>
          <p class="form-error" *ngIf="changePhotoFormErrors.image">{{changePhotoFormErrors.image}}</p>
        </div>
        <button type="submit" mat-button class="login-btn btn-block btn-lg" [disabled]="changePhotoForm.invalid">Update Category Photo</button>
      </form>
        
      
    </div>
  </ng-template>

