<div class="content">
    <div class="banner">
        <div class="container">
            <h1 class="page-title">Orders</h1>
        </div>
        
    </div>
    <div class="container">
      <div  style="overflow-x:auto;">
        <table *ngIf="orders" class="table table-striped">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">OrderId</th>
              <th scope="col">No. Items</th>
              <th scope="col">Cost</th>
              <th scope="cool">Ordered Date</th>
              <th scope="col">Expired Date</th>
              <th scope="col">Status</th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let order of orders; index as i">
              <th scope="row">{{i+1}}</th>
              <td>{{order._id}}</td>
              <td>{{order.orderItems.length}}</td>
              <td>{{order.cost}}</td>
              <td>{{order.orderedDate}}</td>
              <td>{{order.expiredDate}}</td>
              <td>{{order.status}}</td>
              <td><a [routerLink]="['/user', order._id]">View Order</a></td>
            </tr>
            
          </tbody>
        </table>
      </div>
    </div>
</div>
